@model IEnumerable<AllieEntity.Voucher>

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Voucher</title>
</head>
<body>
    <fieldset>
        <legend> Manage Transection </legend>
        <table align="center">
            <tr>
                <td>
                    Search
                </td>
                <td><input type="text" name="Search" /></td>
                <td><input type="image" src="images/search.png" alt="Submit" width="25" height="25"></td>
            </tr>

        </table>
        <br>
        <table width="100%">
            <tr bgcolor="#00FF00">
                <th>Voucher Id </th>
                <th>Amount</th>
                @*<th>VoucherCreator</th>*@
                <th>VoucherOwner</th>
                <th>ValidityDate </th>
                <th> Description</th>
                <th>Options</th>
                <td> </td>
            </tr>
            <tbody id="DataSearching">
                @foreach (var voucher in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => voucher.Id)</td>
                        <td>@Html.DisplayFor(modelItem => voucher.Amount)</td>
                        @*<td>@Html.DisplayFor(modelItem => voucher.VoucherCreator)</td>*@
                        <td>@Html.DisplayFor(modelItem => voucher.VoucherOwner)</td>
                        <td>@Html.DisplayFor(modelItem => voucher.VoucherValidityDate)</td>
                        <td>@Html.DisplayFor(modelItem => voucher.VoucherDescription)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = voucher.Id })
                           
                            &nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Delete", "Delete", new { id = voucher.Id })
                            <a href="/Voucher/Delete/@voucher.Id"><i class="glyphicon glyphicon-trash"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Assign Owner", "AssignOwner", new { id = voucher.Id })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </fieldset>
</body>
</html>

