@model AllieEntity.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btn-submit').click(function () {

                $(".error").hide();
                var hasError = false;
                var AccNumReg = /^.{7}$/;

                var accNum = $("#AccNumber").val();
                if (accNum == '') {
                    $("#AccNumber").after('<span class="error">Enter Account Number.</span>');
                    hasError = true;
                }

                else if (!AccNumReg.test(accNum)) {
                    $("#AccNumber").after('<span class="error">Enter a valid number consisting of 7 alph-numeric characters</span>');
                    hasError = true;
                }



                var AccNameReg = /^.{4,}$/;

                var AccName = $("#AccName").val();
                if (AccName == '') {
                    $("#AccName").after('<span class="error">Please enter an account name.</span>');
                    hasError = true;
                }

                else if (!AccNameReg.test(AccName)) {
                    $("#AccName").after('<span class="error">Please enter a valid name of more than 3 characters</span>');
                    hasError = true;
                }


                var AccAmountReg = /^[\d]+$/;

            var AccAmt = $("#AccAmount").val();
            if (AccAmt == '') {
                $("#AccAmount").after('<span class="error">Amount required</span>');
                hasError = true;
            }

            else if (!AccAmountReg.test(AccAmt)) {
                $("#AccAmount").after('<span class="error">Please enter a valid number</span>');
                hasError = true;
            }

            if (hasError == true) { return false; }


            @*var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

            var emailaddressVal = $("#UserEmail").val();
            if(emailaddressVal == '') {
                $("#UserEmail").after('<span class="error">Enter email address.</span>');
                hasError = true;
            }

            else if(!emailReg.test(emailaddressVal)) {
                $("#UserEmail").after('<span class="error">Enter a valid email address.</span>');
                hasError = true;
            }*@

        });
    });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Edit Account</h4>
            <hr />
            @ViewBag.Error
    
            <div class="form-group">
                AccountNumber
                <div class="col-md-10">
                    <input type="text" name="AccountNumber" value="@Model.AccountNumber" id="AccNumber"/>
                </div>
            </div>

            <div class="form-group">
                AccountName
                <div class="col-md-10">
                    <textarea rows="3" cols="40" name="AccountDescription" id="AccName">@Model.AccountDescription</textarea>
                </div>
            </div>

            <div class="form-group">
                Amount
                <div class="col-md-10">
                    <input type="text" name="Amount" value="@Model.Amount" id="AccAmount"/>
                </div>
            </div>

            <div class="form-group">
                AccountType
                <div class="col-md-10">
                    <select name="AccountType">
                        @using AllieEntity
                        @using AllieService
                        @{
                            List<AccountType> list = (List<AccountType>)ServiceFactory.GetAccountTypeServices().GetAll();
                        }
                        @foreach (AccountType acc in list)
                        {
                            if (Model.AccountType == acc.Id)
                            {
                                <option name="@acc.Type" value="@acc.Id" selected>@acc.Type</option>
                            }
                            else
                            {
                                <option name="@acc.Type" value="@acc.Id">@acc.Type</option>
                            }
                        }
                    </select>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" id="btn-submit"/>
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
