
@{
    ViewBag.Title = "UserHome";
}

@*<h1>Home</h1>


<select>
    <option value="CreateAccount"><a href="http://GoToXYZPage">Create Account</a></option>
    <option value="ManageAccounts"><a href="http://GoToXYZPage">Manage Account/s</a></option>
</select>
<select>
    <option value="CreateLedger"><a href="http://GoToXYZPage">Create Ledger</a></option>
    <option value="ManageLedgers"><a href="http://GoToXYZPage">Manage Ledger/s</a></option>
</select>
<select>
    <option value="CreateTransaction"><a href="http://GoToXYZPage">Create Transaction</a></option>
    <option value="ManageTransactions"><a href="http://GoToXYZPage">Manage Transaction/s</a></option>
</select>
<select>
    <option value="CreateVoucher"><a href="http://GoToXYZPage">Create Vouchers</a></option>
    <option value="ManageVouchers"><a href="http://GoToXYZPage">Manage Vouchers</a></option>
</select>
<select>
    <option value="BalanceSheet"><a href="http://xyzlink">Balance Sheet</a></option>
    <option value="Profit Sheet"><a href="http://GoToXYZPage">Profit Sheet</a></option>
    <option value="Loss Sheet"><a href="http://GoToXYZPage">Loss Sheet</a></option>
</select>
<hr>
<br><br><br>
Allie Solutions Limited<br>
H3, R11<br>
Nikunja-2<br>*@

<!DOCTYPE html>
<html>
<head>
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: forestgreen;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>

    <h2>Dropdown Menu</h2>
<div align="center">
    <table width="70%">
        <tr>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">Employee</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Create User", "CreateUser", "User")
                        @Html.ActionLink("Manage User", "ManageUserMaster", "User")

                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Create Ledger", "CreateLedger","Ledger")
                        @Html.ActionLink("Manage Ledger", "ManageLedger", "Ledger")

                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">Transaction</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Create Transaction", "Create", "Transaction")
                        @Html.ActionLink("Manage Transaction", "ManageTransaction", "Transaction")

                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">Voucher</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Create Voucher", "CreateVoucher", "Voucher")
                        @Html.ActionLink("Manage Voucher", "ManageVoucher", "Voucher")

                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">Jornal</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Create Journal", "CreateJournal", "Journal")
                        @Html.ActionLink("Manage Journal", "ManageJournal", "Journal")

                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">BalanceSheet</button>
                    <div class="dropdown-content">
                        <a href="#">Profit Sheet</a>
                        <a href="#">Lose Sheet</a>

                    </div>
                </div>
            </td>
        </tr>

    </table>
    </div>



</body>
</html>


