@model IEnumerable<AllieEntity.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageUserMaster</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>User Type</th>
                <th>Options</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem =>user.UserName )</td>
                    <td>@Html.DisplayFor(modelItem =>user.Password)</td>
                    <td>@Html.DisplayFor(modelItem => user.Address)</td>
                    <td>@Html.DisplayFor(modelItem => user.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>@Html.DisplayFor(modelItem => user.UserType)</td>
                    <td>
                        @Html.ActionLink("Edit" , "Edit",new { id = user.UserId})
                        <a href="/User/Edit/@user.UserId"><i class="glyphicon glyphicon-edit"></i></a>
                        &nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Delete", "Delete", new { id = user.UserId })
                        <a href="/User/Delete/@user.UserId"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
